@media only screen and (min-width: 750px){
    
    .HomePage{
        width: 50%;
        border: 2px solid #375E97;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        margin-top: 10%;
        margin-left: 20%;
        margin-bottom: 10%;
        border-radius: 25px;
    }
    
    .HomeTitle{
        text-align: center;
        font-size: 60px;
        color: #fd390f;
    }
    
    .StuRegister{
        height: 70px;
        width: 60%;
        margin-top: 10%;
        background-color: #FFBB00;
        font-size: 18px;
        border-radius: 20px;
        border: solid #FFBB00;
        margin-left: 20%;
    }

    .UniRegister{
        height: 70px;
        width: 60%;
        margin-top: 10%;
        background-color: #FFBB00;
        font-size: 18px;
        border-radius: 20px;
        border: solid #FFBB00;
        margin-left: 20%;
    }

    
}

@media only screen and (max-width: 749px) {
    .HomePage{
        width: 60%;
        border: 2px solid #375E97;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 5%;
        margin-top: 10%;
        margin-left: 5%;
        margin-bottom: 10%;
        border-radius: 25px;
    }
    .HomeTitle{
        text-align: center;
        font-size: 40px;
        color: #fd390f;
    }
    
    .StuRegister{
        height: 50px;
        width: 50%;
        margin-top: 10%;
        background-color: #FFBB00;
        font-size: 13px;
        border-radius: 20px;
        border: solid #FFBB00;
        margin-left: 20%;
    }

    .UniRegister{
        height: 50px;
        width: 50%;
        margin-top: 10%;
        background-color: #FFBB00;
        font-size: 13px;
        border-radius: 20px;
        border: solid #FFBB00;
        margin-left: 20%;
    }
}